<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="../../public/script/script.js"></script>
    <link rel="stylesheet" href="css/entrar.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
  </head>
  <body>
       <% 
    let msgErro = "";
    let avisoErro = {"nome_usu":"", "senha_usu":"",nomeusu_usu:"", senha_usu:""};
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "nome_usu"){
                avisoErro.nome_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "senha_usu"){
                avisoErro.senha_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "nomeusu_usu"){
                avisoErro.nomeusu_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "email_usu"){
                avisoErro.email_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
        })        
        if(msgErro != ""){
        %>
        <script>
                let msgErro ="<%= msgErro %>"
                notify("Erro(s) no preenchimento","Verifique o(s) campo(s) <br>  " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
                 "error", "center", 5000)                        
            </script>
        <%
        }
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/sair"}, 3000)
                }                        
        </script>
    <% } %>
    <header>
      <nav class="grid">
        <a href="/cadastro">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
  <br>
  <br>
  <main>
    <h1>Entrar</h1>
    <p class="description">Acesse usando seu cadastro de outra plataforma</p>
  
    <section class="social-login">
      <a href="#"><img src="imagens/icone facebook.png" alt="Login com Facebook"></a>
      <a href="#"><img src="imagens/icone apple.png" alt="Login com Instagram"></a>
      <a href="#"><img src="imagens/icone google.png" alt="Login com Google"></a>
  </section>
  
    <p class="divider">ou acesse via email</p>
    <br>
    <form id="loginForm" action="/entrar" method="post">
        <section class="form-group">
            <label for="email_usu">Endereço de email</label>
            <input type="email" id="email_usu" name="nome_usu" placeholder="conta.sanders@exemplo.com" required>
        </section>
     
        <section class="form-group">
            <label for="senha_usu">Senha</label>
            <input type="password" id="senha_usu" name="senha_usu" placeholder="Digite sua senha..." required>
        </section>
        <a href="/esqueceusenha" class="forgot-password">Esqueceu sua senha?</a>
        <br>
        <a href="/login" class="forgot-password">Não tem conta? Cadastre-se</a>
        <br>
        <section class="checkbox-group">
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Mantenha-me conectado
            </label>
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Receber notificações
            </label>
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Li e concordo com os Termos de Uso
            </label>
        </section>
    </form>
  </main>
   <button type="submit" form="loginForm" class="login-btn">Entrar</button>
  <script src="js/entrar.js"></script> 

 </body>
</html>