<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Vintélo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="../../public/script/script.js"></script>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>
        <nav class="grid">
            <a href="/index">
                <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
            <img src="imagens/logo.png" alt="Logo" class="logo-vintelo">
            <img src="imagens/foto-branca.png" alt="Descrição da Imagem" />
        </nav>
    </header>
    <br>
    <main>
         <% 
            let avisoErro = {"nome_usu":"", "senha_usu":""}
            let msgErro = ""
                if(listaErros){
                    listaErros.errors.forEach(function(itemErro){
                        if(itemErro.path == "nome_usu"){
                            avisoErro.nome_usu = "erro";
                            msgErro += `* ${itemErro.msg} <br>`
                        }
                        if(itemErro.path == "senha_usu"){
                            avisoErro.senha_usu = "erro";
                            msgErro += `* ${itemErro.msg} <br>`
                        }
                    })
                    if(msgErro != ""){
                    %>
                        <script>
                            let msgErro ="<%= msgErro %>"
                            notify("Erro(s) no preenchimento", 
                                   "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                                   "error", "center", 5000)                        
                        </script>
                    <%
                    }
                }
                if (dadosNotificacao) { %>
                    <script>
                            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                            if("<%= dadosNotificacao.tipo %>" == "success"){
                                setTimeout(function(){window.location="/"}, 3000)
                            }                        
                    </script>
                <% } %> 
        <section class="welcome-section">
            <h2>Bem-Vindo</h2>
            <br>
            <p>Por favor insira seus dados para continuar</p>
        </section>
        <br>
        <br>
        <div class="social-login">
            <a href="#"><img src="imagens/face.jpg" alt="Login com Facebook"></a>
            <a href="#"><img src="imagens/insta.jpg" alt="Login com Instagram"></a>
            <a href="#"><img src="imagens/google.jpg" alt="Login com Google"></a>
        </div>
         <br>
        <p class="divider">ou acesse via email</p>
        <br>
        <form id="loginForm" action="#" method="post">
            <form id="registerForm" method="post">
                <div class="form-group">
                    <label for="nome_usu">Nome Completo</label>
                    <input type="text" id="nome_usu" name="nome_usu" placeholder="Digite seu nome" value="<%= valores.nome_usu %>" class="<%= avisoErro.nome_usu" %>>
                </div>
                
                <div class="form-group">
                    <label for="email">Endereço de email</label>
                    <input type="email" id="email" name="email" placeholder="conta.sanders@exemplo.com" required>
                </div>
             
                <div class="form-group">
                    <label for="senha_usu">Senha</label>
                    <input type="password" id="" name="senha_usu" placeholder="Digite sua senha..." required>
                </div>
            
                <div class="form-group">
                    <label for="password">Confirmar Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha..." required>
                </div>

                <div class="form-group">
                <label for="phone">Contato</label>
                <input type="text" id="phone" name="phone" placeholder="(**) *****-****" required>
                </div>

                <div class="form-group">
                <label for="cpf">Adicionar CPF</label>
                <input type="text" id="cpf" name="cpf" placeholder="*********/**" required>
                </div>

                <div class="form-group">
                <label for="address">Adicionar endereço</label>
                <input type="text" id="address" name="address" placeholder="Adicione endereço" required>
                </div>
            <br>
            <br>
        </main>
        <footer class="footer">
            <button type="submit" name="submit" id="submit" class="submit-btn">Cadastrar</button>
        </footer>
    </form>

    <script src="js/script.js"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            if (validarLogin(email, password)) {
                window.location.href = "/finalizandopagamento";
            }
        });

        function validarLogin(email, password) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert("Por favor, insira um email válido.");
                return false;
            }

            if (password.length < 8) {
                alert("A senha deve ter pelo menos 8 caracteres.");
                return false;
            }

            alert("Login realizado com sucesso!");
            return true;
        }
    </script>
</body>
</html>
